@CHARSET "UTF-8";
body,table,tr,td{
			font-size: 24px;
			color:#003;
			
}
fieldset{
	font-size:40%;
	color:#E00000;
	border:#E00000 dashed 1px;
}
label{
	font-size:40%;
	color:#E00000;
}


		